<div class="boxed-view">
    <div class="boxed-view__box boxed-view__box--center">
        <h1>404 | Page Not Found</h1>
        <div class="boxed-view__form">
            <a href="/" class="btn">Head Home</a>
        </div>
    </div>
</div>